/* Numbers */
.numbers{
    text-align: center;
    color: white;
}
h3 {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}
/* Inputs */
@media (max-width: 720px) {
    button{
        font-size: 20px !important;
        padding-right: 15px !important;
        padding-left: 15px !important; 
        padding-bottom: 20px !important;
    }
    .row {
        line-height: 55px;
        margin: 0, auto;
    }
    #buttonClicked{
        transform: translateY(1px) !important;
        border-width: 1px !important;
    }
    #display {
        padding-right: 15px ;    
        
    }
    .curr{
        font-size: 25px !important;
    }
    .enter{
        width: 120px !important;
    }
}
.input{
    height: 50px;
    
}
/* color of number buttons */
.numbs{  
    color:rgb(125, 191, 221) !important;
}
.non_numbs{
    color:rgb(226, 95, 95) !important;
}

#display {
    background-color: white;
    opacity: 80%;
    width:  90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: right;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding-right: 20px ;
    border-radius: 10%;
    
}
.olds{
    font-size: 15px;
    opacity: 70%;
}
.curr_rep{
    font-size: 20px;
}
.curr{
    font-size: 30px;
}
/* buttons */
button{
    background-color: black;
    color: white;
    font-family: 'Hind', helvetica;
    font-size: 30px;
    /* padding-right: 20px;
    padding-left: 20px; */
    cursor: pointer; 
    border: solid;
    border-color: grey;
    width: 60px;
    height:40px;
    border-radius: 20%;
}
.enter{
    width: 120px !important;
}
/* button:hover {
    background-color: rgb(53, 54, 56); 
    border-style: inset;
    border-width: 5px;
    cursor: pointer; 
} */

/* button:active {
background-color: #272f38;
color: white;
box-shadow: 0 5px #666;
transform: translateY(4px);
} */


/* For Button clicks */
#buttonClicked{
    background-color: rgb(53, 54, 56); 
    color: black;
    border-style: none;
    box-shadow: 3px 3px #666;
    transform: translateY(4px);
    border-width: 2px;
    cursor: pointer; 
    width: 60px;
    height:40px;
}
#enterClicked{
    background-color: rgb(53, 54, 56); 
    color: black;
    border-style: none;
    box-shadow: 3px 3px #666;
    transform: translateY(4px);
    border-width: 2px;
    cursor: pointer; 
    width: 120px !important;
    height:40px;
}

#buttonIncomplete {
    cursor: not-allowed;
    background-color: #272f38; 
}